{% extends 'base.html' %}
{% block content %}
  <h1>Posts</h1>
  {% if posts %}
    {% for post in posts %}
      <div style="margin-bottom: 2em;">
        <h2 style="font-size:2.5em; margin-bottom:0.2em;">Title: {{ post.title }}</h2>
        <div>Body: {{ post.body|truncatechars:20 }}</div>
        <div style="margin:0.5em 0;">
          <a href="{% url 'post_detail' post.id %}">Continue reading....</a>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p>No posts available. <a href="/admin/posts/post/add/">Add a post</a> in the admin.</p>
  {% endif %}
{% endblock %}
